{% extends "layout.html" %}{% block body%}

<form class="container-fluid">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Comapany Name</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Eg.Cisco">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword">Job Role</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Eg.SDE">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword">CTC</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Eg.8lpa">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Location</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="Eg.Banglore">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Job Description</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="Description">
        </div>
      </div>
    
    
    
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

{% endblock %}